* {
    margin: 0;
    padding: 0;
}

/* element selector */
body {
background-color: #000000;
color: whitesmoke;
}

nav {
    background-color: rgb(7, 22, 44);
    padding: 10px;
    display: flex;
    
}

nav a{
    color: rgb(211, 119, 230);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding-top: .1%;
}


nav li {
    display: inline;
    margin: 10px;
    

}

nav ul li a:hover {
    color: rgb(11, 203, 11);
}


/* messing with main  */

h1,h2,h3,h4,h5,h6 {
    color: #99e07f
    
}

main {
    display:flex;
}

/* id selector == # */

#main-articles {
    width: 70%;
    /*background-color: #09323f;*/
    background: linear-gradient(to right, rgb(7, 22, 44), rgb(47, 173, 66), rgb(44, 7, 42));
    border: 0.5px solid rgb(90, 35, 73);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
/* 
class selector == .<classname> */

.image-fit {
    width: 100%;
    height: auto;
    border-radius: 90%
    
}

#side-bar {
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(139, 9, 137, 0.5), rgba(0, 0, 0, 0.5));
    background-color: rgb(17, 1, 17);
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    border-color:#99e07f
    
}


#prof-pic{
    width: 75%;
    border: 3px solid whitesmoke;
    border-radius:45%;
    margin-bottom: 10px;
    border-color: rgb(65, 8, 65);
}

div {
    text-align: center;
}


form {
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

form::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    bottom: -20px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(139, 9, 137, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
    border-radius: inherit;
    border: 5px solid black
}

#poem {
    width: 70%;
    padding: 30px;
    margin: auto;
    
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    background: url('./images/fire.gif') rgb(0, 0, 0);
    background-size: cover;
    
    
}

#meme {
    width: 40%; /* adjust this value as needed */
    height: 15%;
    align: center;
    
}


