* {
    margin: 0;
    padding: 0;
}

/* element selector */
body {
background-color: #170218;
color: whitesmoke;
}

nav {
    background-color: rgb(7, 22, 44);
    padding: 10px;
    display: flex;
    
}

nav a{
    color: rgb(177, 12, 210);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding-top: .1%;
}


nav li {
    display: inline;
    margin: 10px;
    

}


/* messing with main  */

h1,h2,h3,h4,h5,h6 {
    color: #99e07f
    
}

main {
    display:flex;
}

/* id selector == # */

#main-articles {
    width: 70%;
    background-color: #09323f;
    border: 0.5px solid rgb(90, 35, 73);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
/* 
class selector == .<classname> */

.image-fit {
    width: 100%;
    height: auto;
    border-radius: 90%
    
}

#side-bar {
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
    background-color: linear-gradient(rgb(0,0,0,.5),rgba(0, 0, 0, 0.5));
    background-color: rgb(17, 1, 17);
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    border-color:#99e07f
    
}


#prof-pic{
    width: 75%;
    border: 3px solid whitesmoke;
    border-radius:45%;
    margin-bottom: 10px;
    border-color: rgb(65, 8, 65);
}

div {
    text-align: center;
}